Repository yahsan2/static-admin: changes, and which lefthook commands are due for each by the changed paths.
All: format, typecheck

format:
  run: pnpm oxlint --fix {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm turbo lint

ci: add Changesets for automated npm publishing
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  packages/api/package.json
  packages/client/package.json
  packages/cms/package.json
  packages/core/package.json
  packages/hono/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: format

Add github login
  dev/.env.example
  dev/package.json
  dev/server/api.ts
  dev/vite.config.ts
  packages/api/src/auth/github.ts
  packages/api/src/auth/manager.ts
  packages/api/src/auth/types.ts
  packages/api/src/handlers/github-oauth.ts
  packages/api/src/handlers/index.ts
  packages/api/src/index.ts
  packages/core/src/schema/config.ts
  packages/core/src/types/config.ts
  packages/hono/src/factory.ts
  packages/hono/src/middleware.ts
  packages/ui/src/components/pages/LoginPage.tsx
  packages/ui/src/context/AdminContext.tsx
Due: format, typecheck

feat: add user attribution to commit messages
  packages/api/src/handlers/content.ts
  packages/core/src/index.ts
  packages/core/src/storage/adapters/github.ts
  packages/core/src/storage/adapters/types.ts
  packages/core/src/types/config.ts
  packages/hono/src/factory.ts
  pnpm-lock.yaml
Due: format, typecheck

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: update pnpm-lock.yaml and remove explicit pnpm version from CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pnpm-lock.yaml
Due: none

refactor(ui): improve code organization and reduce duplication
  packages/ui/src/components/App.tsx
  packages/ui/src/components/fields/ArrayField.tsx
  packages/ui/src/components/fields/FieldRenderer.tsx
  packages/ui/src/components/pages/EntryEditPage.tsx
  packages/ui/src/components/pages/EntryListPage.tsx
  packages/ui/src/components/pages/ForgotPasswordPage.tsx
  packages/ui/src/components/pages/InstallPage.tsx
  packages/ui/src/components/pages/LoginPage.tsx
  packages/ui/src/components/pages/ResetPasswordPage.tsx
  packages/ui/src/components/pages/entry/DraftRecoveryAlert.tsx
  packages/ui/src/components/pages/entry/PublishButtons.tsx
  packages/ui/src/components/pages/entry/SaveStatus.tsx
  packages/ui/src/components/pages/entry/index.ts
  packages/ui/src/components/pages/index.ts
  packages/ui/src/hooks/useAutoSave.ts
  packages/ui/src/hooks/useDraftStorage.ts
  packages/ui/src/lib/constants.ts
Due: format, typecheck

fix: resolve TypeScript lint errors across all packages
  packages/api/src/handlers/auth.test.ts
  packages/api/src/handlers/content.ts
  packages/api/src/handlers/upload.test.ts
  packages/api/src/handlers/upload.ts
  packages/api/src/handlers/users.test.ts
  packages/api/src/handlers/users.ts
  packages/client/src/query-builder.test.ts
  packages/cms/src/query-builder.test.ts
  packages/core/src/content/manager.test.ts
  packages/core/src/schema/config.test.ts
  packages/core/src/schema/config.ts
  packages/core/src/schema/fields.test.ts
  packages/core/src/types/config.ts
  packages/core/src/validation/validator.test.ts
  packages/ui/src/components/pages/EntryEditPage.tsx
  packages/ui/src/components/pages/UserListPage.tsx
Due: format, typecheck

feat(api): add password change endpoint for authenticated users
  packages/api/src/auth/manager.test.ts
  packages/api/src/auth/manager.ts
  packages/api/src/auth/types.ts
  packages/api/src/handlers/auth.test.ts
  packages/api/src/handlers/auth.ts
  packages/api/src/handlers/index.ts
  packages/api/src/handlers/types.ts
  packages/hono/src/factory.ts
Due: format, typecheck

Path conditions:
  format: any of: *.{ts,tsx,json}
  typecheck: any of: *.{ts,tsx}
